<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipies</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png"><link>

    <style>
        .rec-list{
          list-style-type: disc;

        }
    </style>
   </head>
  <body > 
    <article style="padding: 100px 0;">
      <div class="container">
        {{ partial "menu.html" .}}
        <div id="main">
          <div class="sec">
          <h3>Recipie List</h3>
            <div class="sub-sec wel-sec" style="padding:10px;">
                <div class="intro" style="" >
                  {{ .Content }}
                </div>
              <ul class="rec-list">
                <!--{{ range .Data.Pages }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }} -->

                <li class="unv">Labneh لبنة</li>
                <li class="unv">Malfuf ملفوف</li>
                <li class="unv">Meat and Potatoes بطاطا عا لهم</li>
                <li class="unv">Falafel فلفل</li>
                <li class="unv">Arishe</li>
                <li class="unv">Grape leaf ورق عنب</li>
                <li class="unv">Shawarma شاورما</li>
                <li class="unv"> Kofta and potato in the oven كفتة وبطاطس في الفرن </li>
              </ul>
              <div style="text-align: center;">
              <span >I'll add more as I remember more food!</span>
              </div>
            </div>
          </div>
        </div>
        {{ partial "chat.html" .}}
      </div>

      </div>
    </article>
    <script src="/index.js"></script>
    <footer>
      <p id="footer-text"> &copy; Copyright 2023 Nezi </p> 
    </footer>
  </body>
</html>
