<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png"><link>
    <style>
    </style>
  </head>
   <body > 
    <article style="padding: 100px 0;">
      <div class="container">
        <div id="menu">
          {{ partial "menu.html" .}}
          
        </div>
        <div id="main">
          <div class="sec">
            <h3>About</h3>
            <div class="sub-sec wel-sec" style="padding:10px;">
              <p>
              First time I saw a website like this was on <a class="link" target="_blank" href="https://www.bugswriter.com/">bugswriter's</a> website. He has a very cool old style website which I was inspired by. Also, this idea of having a personal space where you can do whatever you want convinced me of creating my own website.
              </p>
              <p>
              This website is where I can store every memory, my grandkids might end up reading this, the grandkids of my grandkids too! I would've been so happy if I knew there was a personal website of one of my ancestors so that's why this page exists. 
              </p>
              <p>
              I might add more text in the future xd.
              </p>
           </div>
          </div>
          <div class="main-sec">
            
          </div>
        </div>
        {{ partial "chat.html" .}}
        
      </div>

      </div>
    </article>
    <script src="/index.js"></script>
    <footer>
      <p id="footer-text"> &copy; Copyright 2023 Nezi </p> 
    </footer>
  </body>
</html>
