<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png"><link>
    <style>
    </style>
  </head>
   <body > 
    <article style="padding: 100px 0;">
      <div class="container">
        <div id="menu">
          {{ partial "menu.html" .}}
          
        </div>
        <div id="main">
          <div class="sec">
            <h3>About</h3>
            <div class="sub-sec wel-sec" style="padding:10px;">
              <p>
              First time I saw a website like this was from <a class="link" target="_blank" href="https://www.bugswriter.com/">bugswriter</a>. He has a very cool old style website which I was inspired by. Also, this idea of having a personal space where you can do whatever you want convinced me of creating my own website.
              </p>
              <br> 
              <p>
              This website is also for my descendents, it would've be so cool to visit a website from some anscestor. Imagine leaving a record of your existance for how long the internet lasts for your future generations! Sounds really cool. I don't know if internet will still exist by then, if english will still be spoken or how much human life will last. It's still cool. 
              </p>
           </div>
          </div>
          <div class="main-sec">
            
          </div>
        </div>
        {{ partial "chat.html" .}}
        
      </div>

      </div>
    </article>
    <script src="/index.js"></script>
    <footer>
      <p id="footer-text"> &copy; Copyright 2023 Nezi </p> 
    </footer>
  </body>
</html>
