body {
  background: black;
  color: white;
  width: 800px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.image-content img{
  max-width: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

img{
  max-width: px;
  padding: 0;
  margin: 0;
}

p { 
  color: white;
  margin: 10px 0;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 10px 10px;
}

li{
  margin: 5px 0;
}

a:link{
  text-decoration: none;
  color: inherit;
}

a:visited{ 
  text-decoration: none;
  color: inherit;
}

.link{
  background:white;
  padding: 2px 5px;
  font-weight: bold;
}

.unv{
  text-decoration: line-through;
  color: gray;
}

.link:link{
  color: black;
}

.link:visited{
  color:black;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  gap: 10px;
}

#music-img{
  margin-right: 2px;
}

#artist{
  margin: 10px;
}

.wel-sec{
  padding: 40px;
  margin: 10px;
}

#prog{
  max-width: 150px;
  margin: 10px;
  border: 1px solid white;
}

.gray-text{
  font-size: 12px;
  color: gray;
}

.mini-container {
  display: flex;
}

.sec {
  padding: 10px;
  border: 1px solid white; 
  margin-bottom: 10px;
  padding: 0;
}


.sec > h3{ 
  margin: 0; 
  padding: 2px 5px;
  background: white;
  color: black;
}

.sec > p{
  padding: 2px 5px;
}

.sub-sec{
  padding: 5px; 
  border: 1px solid white;
  margin: 0px;
}

#guestbook{
  max-width: 200px;
}

.sec-chat{
  border: 1px solid white;
  text-align: center;
}

.sec-chat > h3{
  background: white; 
  color:black;
  margin: 0;
}

#menu{ 
  width: 190px;
}

#main{ 
  min-width: 400px;
}

.main-sec{ 
  display:grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 10px; 
}


.main-sec > div{
  border: 1px solid white;
  background: rgba(0,0,0,0);
}

.mid-sec{
  height:250px;
}

.new-container{
  padding: 5px 2px;
  color: black;
}

.new{
  background: white;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 0 5px;
  margin:2px auto;
  width: 90%;
}


.up-p{
  margin: 8px 5px;
  font-size: 14px;
}

.date{
  font-size: 10px; 
  color: gray;
}

#cool {
  min-width: 150px;
  text-align: center;
}

.img-class{
  text-align: center;
  margin: 30px 0;
}

.mid-sec>  h3{
  margin: 0; 
  padding: 2px 5px;
  background: white;
  color: black;
}

#banner{
  max-width: 500px; 
  height: 300px;
  margin: auto;
}

.gif {
    position: absolute;
    animation: fadeGif 5s linear infinite;
    z-index: -1;
}

@keyframes fadeGif {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

footer { 
  margin-top: auto;
  text-align: center;
}

#footer-text{
  color: gray;
  font-size: 12px;
}
